In [8]:
!wget -q -O archive_5.zip "https://drive.google.com/uc?export=download&confirm=no_antivirus&id=1BPKo4THVA1fIC27QoMwBoddZ4mA5vTzG"
!unzip -q archive_5.zip

replace AIS_2019_01_01.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [9]:
import pandas as pd
import json

In [ ]:
df = pd.read_csv("archive_5.zip")

In [ ]:
# Очистка от NaN
df = df[df['VesselName'].notna()]
df = df[df['Length'].notna()]
df = df[df['Width'].notna()]
df = df[df['Status'].notna()]
df = df[df['Draft'].notna()]
df = df[df['IMO'].notna()]
df = df[df['CallSign'].notna()]
df = df.loc[df['Width'] != 0]
df = df.loc[df['Length'] != 0]

In [ ]:
df = df.sort_values(by=['MMSI', 'BaseDateTime'])

In [ ]:
df

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass
13361,123456789,2019-01-01T00:01:54,29.13867,-90.21792,0.0,102.6,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
23410,123456789,2019-01-01T00:03:54,29.13868,-90.21789,0.0,107.6,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
419366,123456789,2019-01-01T01:29:15,29.13866,-90.21792,0.0,170.6,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
457044,123456789,2019-01-01T01:38:55,29.13864,-90.21791,0.0,171.9,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
497602,123456789,2019-01-01T01:47:35,29.13864,-90.21793,0.0,130.9,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6906947,999999999,2019-01-01T22:08:51,36.95994,-76.32927,0.0,-180.5,511.0,US GOV VESSEL 51,IMO9999999,ZCDJ6,60.0,0.0,175.0,20.0,0.0,35.0,B
6926004,999999999,2019-01-01T22:12:02,36.95997,-76.32921,0.0,38.8,511.0,US GOV VESSEL 51,IMO9999999,ZCDJ6,60.0,0.0,175.0,20.0,0.0,35.0,B
6946555,999999999,2019-01-01T22:16:22,36.96008,-76.32914,0.0,164.0,511.0,US GOV VESSEL 51,IMO9999999,ZCDJ6,60.0,0.0,175.0,20.0,0.0,35.0,B
6958539,999999999,2019-01-01T22:18:32,36.96003,-76.32917,0.0,86.6,511.0,US GOV VESSEL 51,IMO9999999,ZCDJ6,60.0,0.0,175.0,20.0,0.0,35.0,B
6970774,999999999,2019-01-01T22:20:42,36.96009,-76.32916,0.0,81.4,511.0,US GOV VESSEL 51,IMO9999999,ZCDJ6,60.0,0.0,175.0,20.0,0.0,35.0,B

In [ ]:
col = df['MMSI']
col = col.drop_duplicates()
col

13361      123456789
391753     205387000
2173       205460000
3729       205553000
1092       205559000
             ...
1376334    720605000
100        827396670
9772       866998080
4088500    905961938
9970       999999999
Name: MMSI, Length: 2756, dtype: int64

In [ ]:
s = set()
for i in col:
  s.add(i)

In [ ]:
test = df.loc[df['MMSI'] == int('303104000')]
test = test['MMSI']
test = test.to_list()[0]
type(test)

int

In [ ]:
s = sorted(s)

In [ ]:
total = []
for i in s:
  vessel = df.loc[df['MMSI'] == int(i)]
  v = {
    'MMSI': int(df['MMSI'].to_list()[0]),
    'VesselName': str(df['VesselName'].to_list()[0]),
    'Length': float(df['Length'].to_list()[0]),
    'Width': float(df['Width'].to_list()[0]),
    'Points': []
  }
  for index, row in vessel.iterrows():
    v['Points'].append({
        'BaseDateTime': str(row['BaseDateTime']),
        'LAT': float(row['LAT']),
        'LON': float(row['LON'])
    })
  total.append(v)

In [ ]:
vessel

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass
13361,123456789,2019-01-01T00:01:54,29.13867,-90.21792,0.0,102.6,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
23410,123456789,2019-01-01T00:03:54,29.13868,-90.21789,0.0,107.6,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
419366,123456789,2019-01-01T01:29:15,29.13866,-90.21792,0.0,170.6,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
457044,123456789,2019-01-01T01:38:55,29.13864,-90.21791,0.0,171.9,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
497602,123456789,2019-01-01T01:47:35,29.13864,-90.21793,0.0,130.9,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7301527,123456789,2019-01-01T23:21:55,29.13868,-90.21791,0.0,107.5,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
7315580,123456789,2019-01-01T23:23:33,29.13866,-90.21792,0.0,112.2,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
7465671,123456789,2019-01-01T23:49:54,29.13866,-90.21792,0.0,130.4,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
7489423,123456789,2019-01-01T23:56:15,29.13865,-90.21791,0.0,108.7,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B
7509165,123456789,2019-01-01T23:59:15,29.13867,-90.21790,0.0,94.8,511.0,ODYSSEY,IMO0000000,ODYSSEY,37.0,0.0,25.0,10.0,4.5,90.0,B

In [ ]:
for index, row in vessel.iterrows():
  v['Points'].append({
      'BaseDateTime': row['BaseDateTime'],
      'LAT': row['LAT'],
      'LON': row['LON']
  })

In [ ]:
v

In [ ]:
df.to_csv("new.csv")

In [ ]:
!cp new.csv drive/MyDrive

In [ ]:
print(total[-1])

NameError: ignored

In [ ]:
import json
js = json.dumps(total)
with open('res.json', 'w') as f:
  f.write(js)

In [ ]:
!cp res.json drive/MyDrive